@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: "Geometr706 BlkCn BT";
	src: url('geometric 706 black condensed bt.ttf');
}
body {
	margin: 0;
	padding: 0;
	font-family: "Geometr706 BlkCn BT";
	background-color: #070707;
     }
wrapper {
     width:1024px;
     margin:0 auto;
     display:block;
     }
nav {
	height: 71px;
	background-image: url(navbanner.png);
	}
ul   {
        padding: 0;
        margin: 0;
}
nav ul li {
        list-style-type: none;
		font-size: 20px;
	}

.dropbtn {
    color: white;
    font-size: 35px;
    border: none;
    cursor: pointer;
	float: right;
	padding: 15px;
}

.dropdown {
    position: relative;
    display: block;
}

.dropdown-content {
    display: none;
    z-index: 1;
	width: 180px;
	position: absolute;
	right: 0px;
	top: 71px;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
	background-color: black;
	padding: 20px;
	text-align: center;
}
.dropdown-content a:hover {
    color: black;
	background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #131313;
}
#top .patd {
	background-color: black;
	height: 71px;
	color: white;
	font-size: 55px;
}
#top .footer {
	background-image: url(footer.jpg);
	height: 68px;
	width: 1024px;
	text-shadow: 2px 2px #000000;
}
.footer a li {
	list-style-type: none;
	color: white;
    padding: 0 120;
	display: inline;
	font-size: 40px;
	margin: 0 120px;
	float: left;
}
#top #news #newstext {
	float: left;
	color: white;
	margin: 20px 500px 0px 0px;
	font-size: 20px;
}
#top #music {
	background-image: url(ySZkOuL.gif);
	background-size: cover;
}
#top #music .musicdoab {
	text-align: center;
	background-color: black;
	width: 300px;
	color: white;
	padding: 20px;
	margin: auto;
	font-size: 25px;
}
#top #news {
	background-image: url(music.jpg);
	height: 683px;
}
#top #tours .toursp {
	color: white;
	text-align: center;
	margin: auto;
	font-size: 30px;
}
#top #tours a {
	color: white;
	margin-left: 200px;
	font-size: 30px;
	text-decoration: none;
	padding: 10px;
}#top #tours {
	height: 1100px;
}
#top #photos #photo-one {
	width: 50%;
	height: 50%;
}
#top #photos #photo-two {
	float: right;
	width: 40%;
	height: 40%;
}
#top #photos #photo-three {
	width: 50%;
	height: 50%;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: white;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	font-family: "Geometr706 BlkCn BT";
	font-size: 20px;
	margin-top: 100px;
}

#top #mailing {
	border-radius: 5px;
   color: white;
    padding: 20px;
	font-family: "Geometr706 BlkCn BT";
	font-size: 20px;
	height: 568px;
}
#top #merch .merchlinks {
	text-decoration: none;
	color: black;
	background-color: white;
	padding: 20px;
	margin-right: -4px;
	font-size: 25px;
}
#top #merch .merchlinks:hover {
	background-color: #E5E5E5;
}
#top #merch #merchimg {
	margin-bottom: 100px;
}
#top #merch #merchlink {
	margin-left: 193px;
}

#top #merch {
	height: 708px;
}
#news #newstext a {
	color: white;
}
#top #home {
	background-image: url('brendon_lights_header.png');
	height: 768px;
}
#top #home .doab {
	background-color: black;
	color: white;
	font-size: 26px;
	width: 400px;
	height: 220px;
}
#home .doab img {
	float: left;
	padding: 20px;
}
